body {
  font-family: "Manrope", sans-serif;
}
.navbar {
  left: 50%;
  transform: translateX(-50%);
}
.home img {
  width: 15rem;
  margin-top: 5rem;
}
.home {
  background: linear-gradient(#caedff, #fff);
}
.home h1 {
  font-size: 3rem;
}
.home p {
  font-size: 1.5rem;
}
.col-1 a {
  padding: 1rem;
  background-color: #caedff;
  color: #1a1c22;
  border-radius: 100%;
}
